*{
    padding: 0;
    margin: 0;
}
.contenedor{
    
    background-image: url(https://images.unsplash.com/photo-1487700160041-babef9c3cb55?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2052&q=80);
    background-position: center center;
    background-size: auto;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: #464646;
    
}

.rectangulo{
    position: absolute;

    left: 850px;
    top: 60px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 40px;

}
.Titulo1{
    color: #144759;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 100px;
}
.Titulo2{
    margin: 20px 25px;
    width: 539px;
    height: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 15px;
    
}

.label1{
    
    margin: 20px 25px;
    height: 50px;
    width: 445px;         

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.label2{
    
    margin: 20px 25px;
    height: 50px;
    width: 445px;         

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
  input {
    padding: 12px;
    margin: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 4px #ccc;
    border-radius: 6px;
    font-size: 18px;
    width: 93%;
  }

.rectangulo input{
    background: #FFFFFF;
    display: block;
    margin: 20px 25px;
    height: 50px;
    width: 445px;          
    border: 2px solid #ADADAD;
    border-radius: 9px;
   
}

.boton{
    margin: 20px 240px;
    width: 236px;
    height: 54px;
    left: 985px;
    top: 652px;

    background: #144759;
    box-shadow: 0px 4px 19px rgba(119, 147, 65, 0.3);
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
}
.enlace{
    
position: absolute;
width: 163px;
height: 20px;
left: 1045px;
top: 609px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height */


color: #B0B0B0;

}
